<nav>
  <ul>
    <li><a href="/blogs">Home</a></li> 
    <li><a href="/blogs/create">New Blog</a></li> 
    <li><a href="/about">About</a></li> 
    <li><a href="/all-blogs">Blog(data)</a></li>
    <li><a href="/add-blog">recent(data)</a></li> 
  </ul>
</nav>
