<nav>
  <ul>
    <li><a href="/all-blogs">Blogs</a></li>
    <li><a href="/add-blog">recent</a></li> 
    <li><a href="/about">About</a></li> 
    <li><a href="/blogs/create">New Blog</a></li> 
  </ul>
</nav>
