<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%=title%></title>
  </head>
  <body>
      <%- includes('./partials/header.ejs')%>
      <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus, commodi porro id blanditiis voluptates, aperiam cupiditate harum in quos corrupti? Enim, consequuntur reiciendis. Voluptates laboriosam perferendis quaerat placeat distinctio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus, commodi porro id blanditiis voluptates, aperiam cupiditate harum in quos corrupti? Enim, consequuntur reiciendis. Voluptates laboriosam perferendis quaerat placeat distinctio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus, commodi porro id blanditiis voluptates, aperiam cupiditate harum in quos corrupti? Enim, consequuntur reiciendis. Voluptates laboriosam perferendis quaerat placeat distinctio!</p>
      </div>
  </body>
</html>