<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
      <%- include('./partials/header.ejs')%>
      <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus, commodi porro id blanditiis voluptates, aperiam cupiditate harum in quos corrupti? Enim, consequuntur reiciendis. Voluptates laboriosam perferendis quaerat placeat distinctio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus, commodi porro id blanditiis voluptates, aperiam cupiditate harum in quos corrupti? Enim, consequuntur reiciendis. Voluptates laboriosam perferendis quaerat placeat distinctio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus, commodi porro id blanditiis voluptates, aperiam cupiditate harum in quos corrupti? Enim, consequuntur reiciendis. Voluptates laboriosam perferendis quaerat placeat distinctio!</p>
      </div>
      <%- include('./partials/footer.ejs')%>
  </body>
</html>